.intro {
  max-width: 90%;
  padding: 64px 0 0 5%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .intro {
      max-width: 93.7%;
      padding: 88px 0 0 3%;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
      max-width: 67.4%;
      padding: 92px 0 0 5%;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
      max-width: 54.7%;
      padding: 92px 0 0 11%;
  }
}
