.footer {
  max-width: 90%;
  height: 310px;
  padding: 92px 0 24px 0;
  display: grid;
  grid-template-rows: repeat(6, 1fr);

  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer {
      grid-template-columns: repeat(5, 1fr) minmax(200px, 1fr);
      max-width: 93.7%;
      padding: 88px 0 24px 0;
      height: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
      max-width: 90%;
      padding: 92px 0 24px 0;
      grid-template-columns: repeat(5, 1fr) minmax(400px, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .footer {
      max-width: 92.5%;
      grid-template-columns: repeat(5, 1fr) minmax(700px, 1fr);
  }
}
